{% extends 'base.html' %}

{% block content %}

{% if city != None %}
<div class="container d-flex flex-column align-items-center">
    <div class="icon mb-2 mt-3">
        {% if description == 'clear sky' %}
        <i class="fas fa-sun fa-10x"></i>
        {% elif description == 'few clouds' %}
        <i class="fas fa-cloud fa-10x"></i>
        {% elif description == 'scattered clouds' %}
        <i class="fas fa-cloud-sun fa-10x"></i>
        {% elif description == 'broken clouds' %}
        <i class="fas fa-cloud-meatball fa-10x"></i>
        {% elif description == 'overcast clouds' %}
        <i class="fas fa-cloud fa-10x"></i>
        {% elif description == 'shower rain' %}
        <i class="fas fa-cloud-showers-heavy fa-10x"></i>
        {% elif description == 'rain' %}
        <i class="fas fa-cloud-rain fa-10x"></i>
        {% elif description == 'thunderstorm' %}
        <i class="fas fa-cloud-lightning fa-10x"></i>
        {% elif description == 'snow' %}
        <i class="fas fa-snowflake fa-10x"></i>
        {% elif description == 'mist' %}
        <i class="fas fa-smog fa-10x"></i>
        {% endif %}
    </div>

    <div class="bottom-card">
        <h1>{{ temperature }}°</h1>
        <div class="description">
            <h2>{{ description }}</h1>
                <p>{{ city }}, {{ country }}</p>
        </div>
    </div>
</div>
<div class="details">
    <div class="detail">
        <i class="fas fa-droplet"></i>
        <p>{{ humidity }}%</p>
    </div>
    <div class="detail">
        <i class="fas fa-gauge"></i>
        <p>{{ pressure }}hPa</p>
    </div>
    <div class="detail">
        <i class="fas fa-wind"></i>
        <p>{{ wind }} m/s</p>
    </div>
</div>
{% endif %}

{% endblock %}